@font-face {
  font-family: "iconfont"; /* Project id 2590175 */
  src: url('iconfont.woff2?t=1625688773640') format('woff2'),
       url('iconfont.woff?t=1625688773640') format('woff'),
       url('iconfont.ttf?t=1625688773640') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fenxiao:before {
  content: "\e639";
}

.icon-15:before {
  content: "\e63b";
}

.icon-bianji:before {
  content: "\e62c";
}

.icon-qianbao:before {
  content: "\e626";
}

.icon-qiandai:before {
  content: "\e627";
}

.icon-iconfontloginuser:before {
  content: "\e604";
}

.icon-custom-data:before {
  content: "\e68a";
}

.icon-custom-department:before {
  content: "\e6a2";
}

.icon-daishenpiliebiao-:before {
  content: "\e631";
}

.icon-shenpi:before {
  content: "\e628";
}

.icon-yonghushezhi:before {
  content: "\e667";
}

.icon-shenji:before {
  content: "\e610";
}

.icon-shenpi1:before {
  content: "\e608";
}

.icon-xingzhuangjiehe:before {
  content: "\e609";
}

.icon-shuju:before {
  content: "\e636";
}

.icon-qunzhong:before {
  content: "\e60a";
}

.icon-jiqiren1:before {
  content: "\e85b";
}

.icon-robot:before {
  content: "\e878";
}

.icon-yonghu:before {
  content: "\e625";
}

.icon-shezhi01:before {
  content: "\e64b";
}

.icon-yonghu1:before {
  content: "\e700";
}

.icon-saeServerlessyingyongyinqing:before {
  content: "\e62a";
}

.icon-saeServerlessyingyongyinqing1:before {
  content: "\e6f6";
}

.icon-jiqiren:before {
  content: "\e70e";
}

